.portfolio-item {
	figure {
		position: relative;

		cursor: pointer;
	}

	figure img {
		position: relative;
		display: block;
		width:100%;
		opacity: 1;
	}

	figure figcaption {
		padding: 20px;
		color: #fff;
		text-transform: uppercase;
		backface-visibility: hidden;
	}

	figure figcaption::before,
	figure figcaption::after {
		pointer-events: none;
	}

	figure figcaption,
	figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}

	.effect-main {
		overflow:hidden;

		img {
			max-width: none;
			width: calc(100%);
			transition: opacity 0.35s, transform 0.6s;
			backface-visibility: hidden;
		}

		.caption {
			text-align: left;
		}

		h2 {
			@include fs(34,36);
			line-height:auto;
			position: relative;
			overflow: hidden;
			padding: 5px 0;
			margin-bottom:10px;

			@media (max-width:1200px) {
				@include fs(24,27);
			}

			@media (max-width:1024px) {
				@include fs(24,27);
				font-size:2.5vw;
				line-height:auto;
			}

			@media (max-width:$screen-sm-max) {
				@include fs(28,32);
			}

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background: #fff;
				content: '';
				transition: transform 0.6s;
				transform: translate3d(-100%,0,0);

				@media (max-width:1024px) {
					transform: translate3d(0,0,0);
				}
			}
		}

		.small {
			@include fs(12,14);
		}

		p {
			@include fs(18,22);
			font-size:1vw;
			line-height:1.3vw;
			padding: 0;
			opacity: 0;
			transition: opacity 0.35s, transform 0.6s;
			transform: translate3d(100%,0,0);
			margin-bottom:20px;

			@media (max-width:1024px) {
				@include fs(18,22);
				font-size:1vw;
				line-height:1vw;
				opacity:1;
				transform: translate3d(0,0,0);
			}

			@media (max-width:$screen-sm-max) {
				@include fs(16,20);
				font-size:2vw;
				line-height:2.5vw;
				line-height:auto;

			}

			@media (max-width:$screen-xs-max) {
				@include fs(16,20);
				font-size:4vw;
				line-height:5vw;
				line-height:auto;
			}
		}

		.overlay {
			opacity:0;
			background:black;
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			transition:opacity 0.35s;

			@media (max-width:1024px) {
				opacity:0.7;
			}
		}

		.visit-button {
			position:absolute;
			bottom:0;
			right:0;
			left:0;
			@include fs(16);
			display:inline-block;
			padding:5px;
			padding-left:20px;
			padding-right:20px;
			padding-top:20px;
			padding-bottom:20px;
			text-align:right;
			font-weight:700;
			margin-top:10px;
			background:rgba(255,255,255,0.1);
			transition: opacity 0.6s, transform 0.35s;
			transform: translate3d(-100%,0,0);
			opacity:0;

			@media (max-width:1024px) {
				opacity:1;
				transform: translate3d(0,0,0);
			}
		}

		&:hover {
			img {
				opacity: 0.8;
				transform: translate3d(0,0,0);
				transform: scale(1.2);
			}

			p,
			.visit-button {
				opacity: 1;
				transform: translate3d(0,0,0);
			}

			h2 {
				&::after {
					transform: translate3d(0,0,0);
				}
			}

			.overlay {
				opacity:0.7;
			}
		}
	}
}
