#header-logo {

	position:relative;

	.main-logo {
		display:inline-block;
		@include fs(100,0);
		position: fixed;
		top: 40%;
		left: -293px;
		z-index: 1000;
		text-align: left;
		text-transform:uppercase;
	}
}


.header_canvas {

	height:200px;
	width:100%;
	background-size:cover!important;
	background-position:center top;
	background-attachment:fixed!important;

	align-items: center;
    display: flex;
    justify-content: center;

	-webkit-transform: translateZ(0px);
	font-smoothing: antialiased;
	opacity:0.3;

	@media (max-width:$screen-sm-max) {
		height:100px;
	}

	.logo {
		color:white;
		-webkit-backface-visibility: hidden;

		h1 {
			font-size:5vw;
			padding:0;
			margin:0;
			font-weight:700;
			color:rgba(255,255,255,0.7);

			@media(max-width:$screen-sm-max) {
				font-size:10vw;
			}
		}

	}
}
