#header-logo {
	margin-top:30px;
	margin-bottom:30px;
	position:relative;

	.main-logo {
		@include fs(100,0);
		transform: rotate(90deg);
		position: fixed;
		top: -200px;
		bottom: 0;
		left: -53%;
		z-index: 1000;
		text-align: left;
		text-transform:uppercase;

	}
}
