{# Uses the standard Bootstrap navigation system #}

<body class="{{ body_class }}">

	<!-- Google analytics should be added here -->

	<!-- -->

	<header id="header-logo" class="container-fluid">
		<div class="main-logo">
			Lor Ipsumng
		</div>
	</header>
