<footer id="footer" class="container-fluid">
	<div class="inner">
	    <div class="row">
	        <article>

	        </article>
	        <article>
	           
	        </article>
	    </div>
	</inner>
</footer>
