{# Uses the standard Bootstrap navigation system #}

<body class="{{ body_class }}">

	<!-- Google analytics should be added here -->

	<!-- -->

	<div class="header_canvas reveal-noslide">
		<div class="logo reveal">
			<h1>{{ function('bloginfo','title') }}</h1>
		</div>
	</div>
