{# Uses the standard Bootstrap navigation system #}

<body class="{{ body_class }}">

	<img src="https://source.unsplash.com/collection/1315254/1600x900" style="display:none; width:0; height:0;margin-left:-10000px;" class="loaded-image">

	<!-- Google analytics should be added here -->

	<!-- -->

	<div class="header_canvas reveal-noslide">
		<div class="logo" style="height:100px; display:block;">


			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 617.29 287.63" class="header-logo-svg">
				<defs>
					<style>.cls-1{fill:#fff;}</style>
				</defs>
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<rect class="cls-1" x="55.78" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(70.19 -21.73) rotate(25.57)"/>
						<rect class="cls-1" x="167.94" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(433.24 189.34) rotate(154.43)"/>
						<rect class="cls-1" x="169.95" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(-42.76 99.16) rotate(-25.57)"/>
						<rect class="cls-1" x="282.11" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(526.29 407.03) rotate(-154.43)"/>
						<rect class="cls-1" x="394.95" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(-20.73 196.25) rotate(-25.57)"/>
						<rect class="cls-1" x="507.11" y="-12.67" width="54.4" height="312.98" rx="27.2" ry="27.2" transform="translate(954.25 504.13) rotate(-154.43)"/>
					</g>
				</g>
			</svg>

		</div>
		<div class="random-image"></div>
	</div>
