{# Uses the standard Bootstrap navigation system #}

<body class="{{ body_class }}">

	<!-- Google analytics should be added here -->

	<!-- -->

	<!-- <header id="header-logo" class="container-fluid">
		<div class="main-logo">
			Lor Ipsumng
		</div>
	</header> -->

<canvas width="100%" height="320" id="mycanvas"></canvas>
