////
/// portfolio.scss
/// Blocks
/// @author Ash Whiting
////

.portfolio {

	.row {

		.portfolio-item {
			@include make-sm-column(6);
			@include make-md-column(3);
			position:relative;
			padding:0;
			border:1px solid white;

			// Effect is styled in fx.scss


		}
	}
}
